.products-section{
    
.form-section{
padding: 30px;
    margin-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;

    
    
}
  
#fname{
    height: 50px;
    width:290px;
    border: orange solid 2px;
}

label{
    font-weight: bold;
    color: indianred;
}

.submit{
    background-color: indianred;
    color: white;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    border: none;
    
}
}